header{
    background: red;
    height: 40px;
    text-align: justify;
    color:wheat;
}

button{
 background: blue;
 height: 40px;
 width: 100px;
color: black;
border-radius: 20px;
margin-top: 10px;
}

h3{
    margin: 0;
}

form{
    background: red;
    height: 250px;
    width :250px;
   
}

div{
 height: 400px;
    width: 300px;
    margin: 150px;
    background: black;
} 