<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Signin page</title>
</head>
<body>
      <header>
        <h3> this is a sign in page</h3>
      </header>
    <main>
      <div>
        <form id="form">
          <input type="text" id="email" value="" placeholder="Email">
          <input type="password" id="password" value="" placeholder="Password">
          <button id="signin-btn" name="Signin" value="">sign in </button>
          <button id="signup-btn" name="signup" value="">sign up</button>
        </form>
      </div>
    </main>

          <script src="/js/signin.js"></script>
</body>
</html>