<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/signup.css">
    <title>signup page</title>
</head>
<body>
    <header>
        <h3>This is signup page</h3> 
    </header>
    <main>
        <form>
            <input type="text" id="name" value="" placeholder="Name">
            <input type="text" id="lastName" value="" placeholder="Last Name">
            <input type="text" id="email" value="" placeholder="Email">
            <input type="text" id="age" value="" placeholder="Age">
            <input type="password" id="password" placeholder="Password">
            <input type="password" id="conform password" placeholder="Confirm password">
         <div>
            <button id="submit-btn"> Submit</button>
            <button id="signin-btn"> Sign in</button>
        </div>
        </form>
    </main>
    <script src="/js/signup.js"></script>
</body>
</html>